{% extends "base.html" %}

{% block title %}BeHop Dashboard{% endblock %}
{% block content %}

{% load staticfiles %}
<script src="/static/d3.min.js"></script>
<script src="/static/jquery-1.10.2.min.js"></script>

<script type="text/javascript"> 
   var data = jQuery.parseJSON("{{ netflix|escapejs }}");
</script>

<h2>Stats for Netflix</h2>
<div id="netflix"></div>



<h2>Stats for Youtube</h2>
<div id="youtube"></div>
<p>{{ youtube }}</p>
<h2>Stats for RTT</h2>
<div id="rtt"></div>
<p>{{ rtt }}</p>


<script src="/static/rate_json.js"></script>
{% endblock %}
