{% extends "base.html" %}

{% block title %}BeHop Dashboard{% endblock %}
{% block content %}

{% load staticfiles %}
<script src="/static/d3.min.js"></script>
<script src="/static/jquery-1.10.2.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<script type="text/javascript"> 
   var netflix_data = jQuery.parseJSON("{{ netflix|escapejs }}");
   var youtube_data = jQuery.parseJSON("{{ youtube|escapejs }}");
   var rtt_data = jQuery.parseJSON("{{ rtt|escapejs }}");
   var activity_data = jQuery.parseJSON("{{ activity|escapejs }}");
   var event_data = jQuery.parseJSON("{{ events|escapejs }}");
</script>

<a href="{% url 'admin:logs_client_changelist' %}">link to admin panel</a>
<h2>Summary</h2>
RTT samples : {{ summary.rtt_samples }} <br/>
Netflix samples : {{ summary.netflix_samples }} <br/>
Youtube samples : {{ summary.youtube_samples }} <br/>
Netflix Duration : {{ summary.netflix_dur }}mins <br/>
<h2>Activity</h2>
<div id="activity"></div>
<div id="events"></div>
<h2>Stats for Netflix</h2>
<div id="netflix"></div>
<h2>Stats for Youtube</h2>
<div id="youtube"></div>
<h2>Stats for RTT</h2>
<div id="rtt"></div>

<script src="/static/stats.js"></script>
{% endblock %}
